<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0">
        {{ titulo }}
        <!--Interpolacion
          sirve para enviar datos desde el .ts hacia el html
          -->
      </h3>
    </div>
    <form [formGroup]="frm_Evento" (ngSubmit)="grabar()">
      <div class="row">
        <div class="form-group mb-3">
          <label class="form-label" for="event_name">Nombre del Evento</label>
          <input formControlName="event_name" type="text" class="form-control" id="event_name" placeholder="Ingrese el nombre del evento" />
          <div *ngIf="frm_Evento.get('event_name').invalid && frm_Evento.get('event_name').touched">
            <small *ngIf="frm_Evento.get('event_name').hasError('required')" style="color: red">El nombre del evento es requerido</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="event_description">Descripcion del evento</label>
          <input type="text" class="form-control" formControlName="event_description" id="event_description" />
          <div *ngIf="frm_Evento.get('event_description').invalid && frm_Evento.get('event_description').touched">
            <small *ngIf="frm_Evento.get('event_description').hasError('required')" style="color: red">La descripcion es requerida</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="event_location">Ubicacion</label>
          <input type="text" formControlName="event_location" class="form-control" id="event_location" />
          <div *ngIf="frm_Evento.get('event_location').invalid && frm_Evento.get('event_location').touched">
            <small *ngIf="frm_Evento.get('event_location').hasError('required')" style="color: red">La Ubicacion es requerido</small>
          </div>
        </div>
       
        <div class="form-group mb-3">
          <label class="form-label" for="event_date">Fecha del evento</label>
          <input type="email" formControlName="event_date" class="form-control" id="event_date" />
          <div *ngIf="frm_Evento.get('event_date').invalid && frm_Evento.get('event_date').touched">
            <small *ngIf="frm_Evento.get('event_date').hasError('required')" style="color: red">La feha del evento es requerida</small>
            
          </div>
        </div>
        
        <div class="form-group mb-3">
          <label class="form-label" for="event_status">Status</label>
          <input type="email" formControlName="event_status" class="form-control" id="event_status" />
          <div *ngIf="frm_Evento.get('event_status').invalid && frm_Evento.get('event_status').touched">
            <small *ngIf="frm_Evento.get('event_status').hasError('required')" style="color: red">El status es requerido</small>
          </div>
        </div>
        
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="frm_Evento.invalid">Grabar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
  IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
  
  
  
  
  
  INTRPOLACION => DESDE EL TS AL HTML
  {{ }} 
  EVENTOS => EJECUTAR FUNCIONES EN EL TS
  ()
  DATA BINDING => DESDE EL HTML AL TS
  []
  TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
  [()]
  -->
