<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0">
        {{ titulo }}
        <!--Interpolacion
          sirve para enviar datos desde el .ts hacia el html
          -->
      </h3>
    </div>
    <form [formGroup]="frm_Reserva" (ngSubmit)="grabar()">
      <div class="row">
        <div class="form-group mb-3">
          <label class="form-label" for="clients_idClients">Nombre del Evento</label>
          <input formControlName="clients_idClients" type="text" class="form-control" id="clients_idClients" placeholder="Ingrese el nombre del evento" />
          <div *ngIf="frm_Reserva.get('clients_idClients').invalid && frm_Reserva.get('clients_idClients').touched">
            <small *ngIf="frm_Reserva.get('clients_idClients').hasError('required')" style="color: red">El nombre del evento es requerido</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="events_IdEvents">Descripcion del evento</label>
          <input type="text" class="form-control" formControlName="events_IdEvents" id="events_IdEvents" />
          <div *ngIf="frm_Reserva.get('events_IdEvents').invalid && frm_Reserva.get('events_IdEvents').touched">
            <small *ngIf="frm_Reserva.get('events_IdEvents').hasError('required')" style="color: red">La descripcion es requerida</small>
          </div>
        </div>
        <!-- <div class="form-group mb-3">
          <label class="form-label" for="event_location">Ubicacion</label>
          <input type="text" formControlName="event_location" class="form-control" id="event_location" />
          <div *ngIf="frm_Reserva.get('event_location').invalid && frm_Reserva.get('event_location').touched">
            <small *ngIf="frm_Reserva.get('event_location').hasError('required')" style="color: red">La Ubicacion es requerido</small>
          </div>
        </div> -->
       
        <!-- <div class="form-group mb-3">
          <label class="form-label" for="reservationStatus">Fecha del evento</label>
          <input type="email" formControlName="reservationStatus" class="form-control" id="reservationStatus" />
          <div *ngIf="frm_Reserva.get('reservationStatus').invalid && frm_Reserva.get('reservationStatus').touched">
            <small *ngIf="frm_Reserva.get('reservationStatus').hasError('required')" style="color: red">La feha del evento es requerida</small>
            
          </div>
        </div> -->

        <div class="form-group mb-3">
          <label class="form-label" for="reservationStatus">Fecha y hora del evento</label>
          <input type="datetime-local" formControlName="reservationStatus" class="form-control" id="reservationStatus" />
          <div *ngIf="frm_Reserva.get('reservationStatus').invalid && frm_Reserva.get('reservationStatus').touched">
            <small *ngIf="frm_Reserva.get('reservationStatus').hasError('required')" style="color: red">
              La fecha y hora del evento son requeridas
            </small>
          </div>
        </div>
        

        
        <!-- <div class="form-group mb-3">
          <label class="form-label" for="event_status">Status</label>
          <input type="email" formControlName="event_status" class="form-control" id="event_status" />
          <div *ngIf="frm_Reserva.get('event_status').invalid && frm_Reserva.get('event_status').touched">
            <small *ngIf="frm_Reserva.get('event_status').hasError('required')" style="color: red">El status es requerido</small>
          </div>
        </div> -->
        
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="frm_Reserva.invalid">Grabar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
  IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
  
  
  
  
  
  INTRPOLACION => DESDE EL TS AL HTML
  {{ }} 
  EVENTOS => EJECUTAR FUNCIONES EN EL TS
  ()
  DATA BINDING => DESDE EL HTML AL TS
  []
  TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
  [()]
  -->
